.hall-page {
  &__content {
    // padding: 20px;
    &--empty {
      margin-top: 120px;
    }
  }
}
.btn--create-room {
  margin-top: 30px;
}

.room-page {
  &__content {
    padding: 20px;
  }
}

.btn--start-estimate {
  position: fixed;
  right: 60PX;
  bottom: 120PX;
}

