.hall-page {
  &__content {
    padding: 20px;
  }
}
.btn--create-room {
  margin-top: 30px;
}

.room-page {
  &__content {
    padding: 20px;
  }
}

.btn--start-estimate {
  position: fixed;
  right: 30PX;
  bottom: 30PX;
}

