.head-card {
  display: flex;
  
  padding: 12% 10%;
  background: #f8f8f8;

  &__info {
    line-height: 60px;  
  }

  &__title {
    display: inline-block;
    position: relative;
    height: 80px;
    line-height: 80px;
    font-size: 48px;
    font-weight: 700;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      display: inline-block;
      height: 2PX;
      width: 120%;
      border-radius: 1PX;
      background-color: #6190e8;
    }
  }
  &__desc {
    display: block;
    margin-top: 14px;
    font-size: 30px;
    color: #999;
  }

  &__extra {
    margin-left: 60px;
    line-height: 120px;  
  }
}
